@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

body {
    background-color: #286a35;
    color: #00092C;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.gameboard {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rules {
    font-size: 18px;
}

.dealer {
    height: 300px;
    width: 400px;
}

.player {
    height: 300px;
    width: 400px;
}

.score {
    font-size: 30px;
}

.buttons {
    align-items: center;
}

.card {
  width: 120px;
  height: 180px;
  border: 1px solid #151718;
  float:left;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-family: 'Cormorant SC', serif;
  background-color: white;
}

span.number, span.suit{
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 8px;
    font-size: 50px;
}