body {
    background-color: #286a35;
    color: #00092C;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.card {
  width:50px;
  height:75px;
  border:1px solid #151718;
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  border-radius:3px;
  font-family:courier;
  background-color: white;
}

span.number, span.suit{
	width:100%;
	display:block;
	text-align:center;
	padding-top:8px;
}